* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

:root {
    --primary-color: #ff434f;
    --secondary-color: #e3e3e3;
    --text-color-lightest: #e7e9ec;
    --text-color-darker: #2e2e2e;
    --text-color-gray: #8b8b8b;
    --text-color-dark-gray: #727272;
    --text-color-light-gray: #c6c6c6;
    --backdrop-color: rgba(42, 42, 42, 0.69);
}

header {
    width: 100%;
    height: 80px;
    display: grid;
    padding: 0 40px;
    /* 让两个元素以列的形式排列，第一个元素占有1/3的宽度，第二个占有2/3的宽度 */
    grid-template-columns: 1fr 2fr;

    align-items: center;
    position: relative;

    /* 应该是让字的层级高一些 */
    z-index: 200;
}

.logo {
    font-size: 24px;
    font-weight: 600;

    color: var(--text-color-lightest);
}

header nav {
    justify-self: end;
}

header nav a {
    color: var(--text-color-lightest);

    text-decoration: none;

    /* 盒子与盒子之间的距离为24px */
    margin: 0 24px;
}

header nav i {
    color: var(--text-color-lightest);
}

.glide {
    position: relative;
    top: -80px;
    /* 不要遮挡住字 */
    z-index: 50;
}

/* 轮播中的图片和视频 */
.glide__slide img,
.glide__slide video {
    width: 100vw;
    height: 100vh;

    object-fit: cover;
}

/* 图片上的文字信息，就是那些h1和h3标题的,还有一个按钮 */
.slide-caption {
    /* 不要再让文字把图片挤下去 */
    position: absolute;
    /* 优先级也需要高于图片 */
    z-index: 70;

    color: var(--text-color-lightest);
    text-align: center;
    max-width: 60vw;
}

/* 让轮播组件居中，由于图片本身就是铺满屏幕的，所以图片没什么变化，
只是将文字居中了 */
.glide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-caption h1 {
    font-size: 54px;
    font-weight: 600;
}

.slide-caption h3 {
    font-size: 24px;
    margin: 48px 0;
}

/* 文字和按钮的不透明度调为0（不可见），之后将以动画的形式出现 */
.slide-caption>* {
    opacity: 0;
}

/* 在图片上方的蒙版，让图片看起来偏暗 */
.backdrop {
    background: var(--backdrop-color);
    /* 高于图片但是不高于文字 */
    z-index: 60;
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    opacity: 0.6;
}

.explore-btn {
    outline: none;

    border-radius: 4px;
    /* 左右32px，上下14px */
    padding: 14px 32px;
    font-size: 18px;
    border: 0;
    background-color: var(--primary-color);
    color: var(--text-color-lightest);
    cursor: pointer;
}


/* 内容区域 */
/* 通用样式 */

/* 先给content-wrapper设定样式 */

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    display: grid;
    /* 对下面的所有列起作用 */
    justify-items: center;
    max-width: 1180px;
    /* 给两边分别加上80px的空间，其实去掉也没啥大影响 */
    padding: 0 80px;
}

/* 这里好像默认就是relative，可以不用专门指出 */
.section-bg {
    position: relative;
}

/* 让游戏部分的背景颜色与动画部分有所区分 */
.section-bg::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #f9fbfb;
    width: 100vw;
    height: 100%;
    z-index: -1;
}






.title1 {
    font-size: 34px;
    color: var(--text-color-darker);
}

/* 标题下面的那个小橘条 */
.title1::after {
    content: "";
    display: block;
    /* 宽度为title1，也就是标题的80% */
    width: 80%;
    height: 4px;
    background-color: var(--primary-color);
    margin-top: 14px;
    transform: translate(10%);
}

/* 小橘条下面的那句话 */
.intro {
    /* 上28px，下60px 这里用padding和margin看起来是没区别的*/
    margin: 28px 0 60px 0;
    font-size: 18px;
    color: var(--text-color-dark-gray);
}

.features {
    display: grid;
    /* 分成3列，每列占1/3的空间 */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 126px 126px;
    /* 列间距 */
    column-gap: 5vw;
}

.feature {
    display: grid;
    grid-template-areas:
        "icon title"
        "icon content";
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 3fr;
}

.feature i.fas {
    grid-area: icon;
    font-size: 34px;
    color: var(--primary-color);
}

.feature-title {
    grid-area: title;
    font-size: 18px;
    color: var(--text-color-darker);
}

.feature-content {
    grid-area: content;
    color: var(--text-color-gray);
    margin-top: 8px;
}




/* 游戏 */
.game-part {
    max-width: unset;
    padding: 0;
    padding-top: 72px;
}

.filter-btns {
    margin-top: 54px;
    margin-bottom: 38px;
}

.filter-btn {
    margin: 0 7px;
    border: 0;
    border-radius: 4px;
    background-color: var(--secondary-color);
    padding: 8px 18px;
    cursor: pointer;
    transition: 0.4s;
}

/* 这一步感觉有点多余，直接在上面定义outline:none也行 */
.filter-btn:focus,
.filter-btn:active {
    outline: none;
}

.filter-btn:active,
.filter-btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.game-part .cases {
    width: 100vw;
}

.game-part .case-item {
    width: 25vw;
    height: 20vw;

    overflow: hidden;
}

.case-item img {
    object-fit: cover;
    height: 100%;
}